.about {
    display: flex;
    flex-direction: column;
    margin: 7rem 2rem 3rem 2rem;
}

.about p {
    margin-bottom: 3.75em;
    font-size: 12px;
    line-height: 18px;
}

.aboutContent {
    margin: 0 auto;
    text-align: center;

}

#bold {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1rem;
}

.about h1 {
    font-size: 42px;
    margin: 0.8rem 0;
}

.eva {
    margin: 0;

}

.aboutImg {
    width: 100%;
    max-width: 5rem;
}