.coffee-container {
    margin: -1em auto 2em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.coffee-container h1 {
    font-size: 42px;
}

.item {
    display: flex;
    max-width: 100vw;
    width: 100vw;
    margin: 1rem 0;
}


.title .price .desc {
    font-size: 23px;
    margin: 0;
}

.title {
    margin: 0;
    height: 2rem;
    font-size: 23px;

}

.price {
    margin: 0;
    height: 2rem;
    font-size: 23px;

}

.desc {
    margin-top: 0.1rem;
    font-size: 12px;

}

.item-content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100vw;
    justify-content: space-evenly;

}


.title-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -1rem;
}