 body {
   margin: 0;
   font-family: 'Work Sans',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #2F2926;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 a {
   font-family: 'PT Serif',
     serif;
 }


 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }