html {
  background-color: #F3E4E1;

}

.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;


}

form {
  margin-top: 10rem;
  margin-left: 5rem;
}

/*
pink: #F3E4E1
brown: #2F2926
dark green: #0E927D
light green: #58BF94
ornage: #E5674E

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */